body {
  margin: 20px;
  padding: 0;
  background-color: #f2f2ed;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  border-bottom: dashed 1px;
  padding-bottom: 10px;
   font-weight: 700;
   font-style: normal;
}

header {
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  font-style: italic;
  position: sticky;
  top: 0;
  background-color: #f2f2ed;
  z-index: 9999;
}

.subheading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #f2f2ed;
  padding-top:0px;
  margin-top:0px;
}

h2 {
   font-weight: 300;
   font-style: italic; 
   text-align: center;
}

p header{
   font-weight: 400;
   font-style: normal; 
   margin-top: 0;
   padding: 5px;
}

.decks, .gallery {
    max-width: 700px;
    margin: 0 auto;
}

.decks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

a.decklink {
  display: block;
  text-decoration: none;
}

.deck,
.gallery-card {
  height: 350px;
  width: 250px;
  border: 1px solid black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
  border-radius: 15px;
  padding-left: 20px;
  font-variant: small-caps;
  color: black;
  margin: 10px;
  background-color: white;
}

.deck:hover {
  scale: 1.1;
  z-index: 999;
}

.mammals {
  background-size: cover;
  background-image: url('flashcard-images/tamius_striatus.jpg');
}

.birds {
  background-size: cover;
  background-image: url('flashcard-images/anas_playtrhynchos.jpg');
}

.amphibians {
  background-size: cover;
  background-image: url('flashcard-images/rana_pipiens.jpg');
}

.reptiles {
  background-size: cover;
  background-image: url('flashcard-images/coluber_constrictor_constrictor.jpg');
}

.study-mode,
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-head {
  display: inline-block;
  margin-top:0;
}

.button {
  font-family: 'Roboto Mono', monospace;
  font-variant: small-caps;
  padding: 5px 10px;
  margin: 18px;
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-top:0;
}

.submit-button {
  margin: 5px;
}

.button:hover {
  background-color: #999999;
  cursor: pointer;
}

.study-button {
  display: none;
}

.gallery-card {
  height: 250px;
  width: 175px;
  font-size: 14px;
  padding-left: 0;
}

.card-photo {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.card-names {
  padding-left: 20px;
  padding-right: 5px;
}

.gallery-card:hover div {
  display: none;
}

.gallery-card:not(:hover) dl {
  display: none;
}

footer{
    border-top: 1px dashed;
    margin-top: 20px;
    font-style: italic;
    font-size: 14px;
    line-height: .6;
}

footer a{
    color:black;
    text-decoration: none;
    display:block;
    line-height: 1.4;
}

footer a:hover {
    text-decoration: underline;
}

@keyframes flash {
    0%, 100% {
        background-color: white;
    }
    25%, 75% {
        background-color: red;
        opacity: 0.5;
    }
    50% {
        background-color: red;
        opacity: 1;
    }
}
