/* font-family: 'Roboto Mono', monospace;
font-family: 'Roboto', sans-serif; */
body {
    margin: 20px;
    padding: 0;
}

header {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    border-bottom: dashed 1px;
    margin: 0 auto;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-style: italic;
}

.decks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a.decklink{
    display: block;
    text-decoration: none;
}

.deck, .gallery-card {
    height: 400px;
    width: 300px;
    border: 1px solid black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    border-radius: 15px;
    padding-left: 20px;
    font-family: 'Roboto Mono', monospace;
    font-variant: small-caps;
    color: black;
    margin: 10px;
}

.deck:hover {
    scale: 1.1;
    z-index: 999;
}

.mammals {
    background-size: cover;
    background-image: url("flashcard-images/tamius_striatus.jpg");
}

.birds {
    background-size: cover;
    background-image: url("flashcard-images/anas_playtrhynchos.jpg");
}

.amphibians {
    background-size: cover;
    background-image: url("flashcard-images/rana_pipiens.jpg");
}

.reptiles {
    background-size: cover;
    background-image: url("flashcard-images/coluber_constrictor_constrictor.jpg");
}

.study-mode, .gallery {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-head {
    display: inline-block;
}

.button {
    font-family: 'Roboto Mono', monospace;
    font-variant: small-caps;
    padding: 5px 10px;
    margin: 18px;
    background-color: white;
    color:black;
    border: 1px solid black;
    float:right;
}

.button:hover {
    background-color: #999999;
    cursor: pointer;
}

.gallery-card {
    height: 250px;
    width: 175px;
    font-size: 14px;
    padding-left: 0;
}

.card-photo {
    height:100%;
    width:100%;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.card-names {
    padding-left: 20px;
    padding-right:5px;
}

.gallery-card:hover div{
    display:none;
}

.gallery-card:not(:hover) dl {
    display:none;
}